*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Raleway', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100%;
    height: 100%;
    margin: auto;
    grid-gap: 10px;
    overflow: hidden;
    align-items: center;
}
.weight-400{
    font-weight: 400;
}
.weight-600{
    font-weight: 600;
}
.parrafo{
    margin-bottom: 20px;
}
.first{
    height: 500px;
}
.img-hero{
    width: 100%;
    height: auto;
    grid-column: 8/12;
}
.img{
    width: 95%;
    max-width: 400px;
}
.textos-hero{
    grid-column: 2/7;
    padding: 20px;
}
.textos-hero p{
    text-align: justify;
}
.cta{
    width: 130px;
    background: black;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}
.services{
    height: 370px;
    background: linear-gradient(180deg, #fff 50%, #000 50%);
}
.items{
    grid-column: 2/12;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    width: 23%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}
[class^="fa"]{
    font-size: 60px;
    text-align: center;
    color: #000;
}
.titulo-services{
    margin: 20px 0;
}
.about-us{
    background: #000;
    color: #fff;
    height: auto;
    padding-bottom: 60px;
}
.textos-about-us{
    grid-column: 1/-1;
    text-align: center;
}
.textos-about-us .parrafo{
    margin-top: 10px;
    color: #ccc;
}
.numbers{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.number{
    text-align: center;
    font-size: 30px;
    width: 25%
}
.mission{
    padding: 80px 0;
}
.textos-mission{
    grid-column: 7/13;
    grid-row: 1/-1;
    margin-bottom: 20px;
}
.img-mission{
    grid-column: 2/7;
    grid-row: 1/-1;
}
@media screen and (max-width:900px){
    .first{
        height: auto;
    }
    .grid{
        grid-gap: 30px;
    }
    .textos-hero{
        grid-column: 1/-1;
    }
    .img-hero{
        grid-column: 1/-1;
    }
    .img-hero{
        text-align: center;
    }
    .textos-hero{
        margin-top: 40px;
    }
    .services{
        height: auto;
        margin-top: 40px;
    }
    .item{
        width: 80%;
        margin: 20px;
        height: auto;
        padding: 20px;
        flex-shrink: 0;
    }
    .img-mission{
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }
    .textos-mission{
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
    }
}
.logo{
    color: white;
    display: flex;
}

nav.navbar{
    background-color: black;
}

.form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    
}

.form fieldset{
    display: block;
      margin: 20px 1%;
      margin-bottom: 20px;
      padding: 0 auto;
      padding: 15px 0;
      border: 0;
      border-top: 1px solid #DDD;
      width: 98%;
    
}

.form legend{
    display: table; 
     min-width: 0px;
     max-width: 70%;
     position: relative;
     margin: auto;
     padding: 5px 20px;
     color: black;
     font-size: 20px;
     text-align: center;
    box-shadow:
       inset 0 -3em 3em rgba(255, 0, 0, 0.1),
             0 0  0 2px rgb(235, 165, 165),
             0.3em 0.3em 1em rgba(87, 0, 0, 0.3);
}

.form button{
    background-color: #f83838;
    border: #ff0000;
}

.tabform{
    margin-top: 20px;
}

.cont{
    height: 800px;
}
